---
const posts = await Astro.glob('../pages/blog/*.md'); // returns an array of posts that live at ./src/pages/post/*.md

---

<div class="flex w-full flex-col rounded-box bg-gradient-to-r from-purple-600 via-blue-600 to-pink-600 ">
  <div class="card rounded-box grid h-24 place-items-center overflow-hidden text-white hover:bg-purple-800 duration-1000">
    <div class="grid grid-cols-3 gap-4 mx-6">
      {posts.slice(0, 3).map((post) => (
  <article>
    {/* <h2>{post.frontmatter.title}</h2> */}
    <a href={post.url}><h2 class="font-bold text-center text-pink-500 hover:text-lime-300 duration-700">{post.frontmatter.title}</h2></a>
    <p class="text-center font-medium">{post.frontmatter.description}</p>
    {/* <a href={post.url}>Read more</a> */}
  </article>))}
  </div>
  </div>
</div>
