---
import Layout from './Base.astro';
import Container from "../components/Container.astro";
import ArticleSchema from '../components/ArticleSchema.astro';
import Navbar from "../components/Navbar.astro";

const { frontmatter } = Astro.props;


---

<Layout seo={frontmatter}>
  <Fragment slot="head-bottom">
  <ArticleSchema {...frontmatter}  />
 </Fragment>
  <Container>
    <Navbar />
    <article class="post-content__article border-4 border-red-500">
      {frontmatter.image && <img width="100%" height="420" class="post-main__img" loading="lazy" src={frontmatter.image} alt={frontmatter.alt} />}
      <h1>{frontmatter.title}</h1>
      <time>{frontmatter.publishDate}</time>
      <br>
      <br>
      <!-- // Rendering markdown pages starts here at  <slot /> see: https://docs.astro.build/en/basics/layouts/#markdownmdx-layouts -->
      <slot />
    </article>
  </Container>
</Layout>


<style>
  article {
    > * {
      margin-block: 1em 0;
      margin-inline: 0;
      p {
      font-weight: 400;
    }

    h2 {
      margin-block: 3em 0;
      padding-block-end: 0.2em;
      border-inline-start: 4px solid var(--color-accent);
      padding-inline-start: var(--sp-s);
      line-height: 1.4;
      font-size: 1.6rem;
    }
    }
  }